body{
    background-color: #625E74;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;


}

main{
    width: 65%;
    height: 90%;
    background-color: #2C2638;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: #2C2638 4px solid;
    border-radius: 12px;
    object-fit: fill;
}

.image-section{
    height: 100%;
    width: 45rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;

}

.image-section img{
    min-width: 95%;
    min-height: 95%;
    object-fit: fill;
    border: 4px solid #2C2638;
    border-radius: 12px;
    margin-left: 2%;
}
.login{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4%;
    padding-inline-end: 8rem;
}

.login-title{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 30% ;
}

.login-title h1{
    margin: 0;
    color: #ece9e9;
    font-size: 28px;
    font-family:  sans-serif, Arial, Helvetica;
}    

.login-title p{
    margin: 0;
    padding-inline-end: 2.5rem;
}